<div class="pop-up">
  <div class="pop-up-container">
    <div class="team">
      <div>
        <div class="team-logo">
          <img
            class="team-logo animate__animated animate__fadeInDown"
            src="/src/images/TeamModal/TeamOne.png"
            width="200"
            alt=""
          />
        </div>
      </div>
      <ul class="team-list">
        <li class="team-member">
          <img
            src="/src/images/TeamModal/Pavel.jpg"
            width="140"
            alt="foto"
            class="team-member_foto"
          />
          <p class="team-member_name">Павло</p>
          <p class="team-member_role">Teamlead</p>
          <a href="https://github.com/VPagent">
            <img class="github" src="/src/images/TeamModal/github.svg" alt="" />
          </a>
        </li>
        <li class="team-member">
          <img
            src="/src/images/TeamModal/Vladimir.jpg"
            width="140"
            alt="foto"
            class="team-member_foto"
          />
          <p class="team-member_name">Володимир</p>
          <p class="team-member_role">Scrum master</p>
          <a href="https://github.com/mikser93">
            <img class="github" src="/src/images/TeamModal/github.svg" alt="" />
          </a>
        </li>
        <li class="team-member">
          <img
            src="/src/images/TeamModal/Olena.jpg"
            width="140"
            alt="foto"
            class="team-member_foto"
          />
          <p class="team-member_name">Олена</p>
          <p class="team-member_role">Developer</p>
          <a href="https://github.com/OlenaYatseniuk">
            <img class="github" src="/src/images/TeamModal/github.svg" alt="" />
          </a>
        </li>
        <li class="team-member">
          <img
            src="/src/images/TeamModal/Oleg.jpg"
            width="140"
            alt="foto"
            class="team-member_foto"
          />
          <p class="team-member_name">Олег</p>
          <p class="team-member_role">Developer</p>
          <a href="https://github.com/he1gi">
            <img class="github" src="/src/images/TeamModal/github.svg" alt="" />
          </a>
        </li>
        <li class="team-member">
          <img
            src="/src/images/TeamModal/Andrii.jpg"
            width="140"
            alt="foto"
            class="team-member_foto"
          />
          <p class="team-member_name">Андрій</p>
          <p class="team-member_role">Developer</p>
          <a href="https://github.com/Zorotool">
            <img class="github" src="/src/images/TeamModal/github.svg" alt="" />
          </a>
        </li>
      </ul>
      <div class="pop-up-close">&#10006;</div>
    </div>
  </div>
</div>
