<nav class="nav">
  <a class="nav__link" href="./index.html">
    <img
      class="logo"
      src="./images/header-img/film.png"
      alt="logo"
      width="24"
      height="24"
    />
    <p class="text-logo">Filmoteka</p>
  </a>
  <ul class="nav-list">
    <li class="nav-list__item">
      <a href="./index.html">HOME</a>
    </li>
    <li class="nav-list__item nav-list__item--current">
      <a href="./library.html"> MY LIBRARY</a>
    </li>
    <li class="nav-list__item">
      <a href="#" class="themetoggle material-symbol"
        >wb_sunny<span class=""></span
      ></a>
    </li>
  </ul>
</nav>
<ul class="header-buttonlist">
  <li class="header-buttonlist__item">
    <button class="header-buttonlist__btn js-watched current--btn">WATCHED</button>
  </li>
  <li class="header-buttonlist__item">
    <button class="header-buttonlist__btn js-queue">QUEUE</button>
  </li>
</ul>
