<nav class="nav">
  <a class="nav__link" href="./index.html">
    <img
      class="logo"
      src="./images/header-img/film.png"
      alt="logo"
      width="24"
      height="24"
    />
    <p class="text-logo">Filmoteka</p>
  </a>
  <ul class="nav-list">
    <li class="nav-list__item nav-list__item--current">
      <a href="./index.html">HOME</a>
    </li>
    <li class="nav-list__item">
      <a href="./library.html"> MY LIBRARY</a>
    </li>
    <li class="nav-list__item">
      <a href="#" class="themetoggle material-symbol"
        >wb_sunny<span class=""></span
      ></a>
    </li>
  </ul>
</nav>
<form class="header-form">
  <input class="header-form__input" type="text" placeholder="Movie search" />
  <button class="header-form__button" type="submit">
    <img
      class="sourse-svg"
      src="./images/header-img/search.svg"
      alt="search"
      width="12"
      height="12"
    />
  </button>
</form>
<p class="error-text">
  Search result not successful. Enter the correct movie name and
</p>
