.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
  // background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_text,
.open-pop-up {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  // color: #545454;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.open-pop-up {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #545454;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  text-decoration-line: underline;
}
.footer_icon {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer_text {
    font-size: 14px;
    line-height: 1.8;
    width: 250px;
  }
}

@media screen and (min-width: 762px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer_text {
    font-size: 16px;
    line-height: 1.18;
    width: 100%;
  }
}

.animate__heartBeat {
  display: inline-block;
  margin: 0 0.5rem;

  animation: heartBeat infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.footer a {
  color: inherit;

}
