table {
  table-layout: fixed;
  // width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

th,
td {
  padding-bottom: 8px;
}

.main-modal__backdrop {
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  // box-shadow: 0 8px 30px rgb(212 20 67 / 10%);
}

.main-modal__backdrop.is-hidden {
  opacity: 0;
  // visibility: hidden;
  pointer-events: none;
}

body.overflow {
  overflow: hidden;
}

.main-modal {
  position: absolute;
  margin: 0 auto;
  background-color: $primary-background-color;
  padding: 48px 20px 40px;
  width: 95%;
  max-width: 280px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  @media screen and (min-width: $tablet) {
    max-width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 806px;
    padding: 40px 12px;
  }
}

.main-modal__button--close {
  border: 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
}

.main-modal__container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.main-modal__preview {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    max-width: 264px;
    max-height: 375px;
    margin-right: 68px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 375px;
    min-height: 478px;
    margin-right: 16px;
  }
}

.main-modal__preview img {
  width: 240px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    width: 375px;
  }
}

.main-modal__title {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.main-modal__features {
  font-size: 12px;
  line-height: 1.33;
  color: $text-color-6;
  margin-right: 29px;
  width: 120px;

  @media screen and (min-width: 1024px) {
    margin-right: 83px;
    width: 160px;
  }
}

.main-modal__features > p {
  width: max-content;
}

.main-modal__values {
  font-size: 12px;
}

.main-modal__values--vote {
  color: $text-color-3;
  background: $accent-color;
  border-radius: 5px;
  padding: 1px 10px;
}

.main-modal__values--slash {
  color: $text-color-6;
}

.main-modal__values--votes {
  // background: $footer-background-color;
  border-radius: 5px;
  padding: 1px 4px;
}

.main-modal__values--title {
  line-height: 1.33;
  text-transform: uppercase;
}

.main-modal__values--2 {
  line-height: 1.33;
}

.main-modal__about {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.main-modal__text {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.main-modal__buttons {
  display: flex;
}

.main-modal__buttons--watched {
  margin-right: 20px;
  background: $accent-color;
  border-radius: 5px;
  color: $text-color-3;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  line-height: 1.33;
  padding: 13px;
  cursor: pointer;
}

.main-modal__buttons--queue {
  text-transform: uppercase;
  background: $primary-background-color;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 1.33;
  padding: 13px 16px;
  cursor: pointer;
}
