.pagination__box {
  margin-top: 60px;
}

.page__list {
  display: flex;
  justify-content: center;
}

.page__figure {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;

  font-size: 12px;
  line-height: 1.33;
}

.page__arrow {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $footer-background-color;

  border-radius: 5px;

  width: 40;
  height: 40;

  &:hover {
    transform: scale(1.2);
  }
}

.page__item {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  // color: $text-color-1;

  border-radius: 5px;

  width: 40;
  height: 40;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.page__item a {
  color: inherit;
}

.page__figure--transform {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.2);
  }
}

.page__item--is-active {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $accent-color;
  color: $text-color-3;

  &:hover {
    transform: scale(1.2);
  }
}

.page__arrow--left {
  background-image: url(/src/images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.page__arrow--right {
  background-image: url(/src/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.page__dots {
  position: absolute;
  top: 20%;
  right: 30%;

  color: $text-color-1;

  font-size: 12px;
  line-height: 1.33;

  border-radius: 5px;

  margin-right: 3px;
}

.page__item--hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
